/*================================================
=             _colours.scss -                 =
================================================*/


$global1: #fff; //$White
$global2: #f5f5f5; //$Off_White
$global3: #ecece8; //$Oatmeal
$global4: #bfbfbf; //$Grey
$global5: #273542; //$Dark
$global6: #979797; // Button border

$primary1: #e91c23; //Primary_Red
$primary2: #244769; //Primary_Blue
$primary3: #e91c23; //Primary_Red

$secondary1: #9e3242; //$Secondary_Red
$secondary2: #004785; //$Secondary_Blue
$secondary3: #edeeef; // Button grey hover

$tertiary1: #fc0; // $Tertiary_Yellow
$tertiary2: #8695a3; //$Tertiary_Blue
