<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Web Starter Kit</title>
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" href="/css/app.css">
    </head>

    <body>

        {% block content %} {% endblock %}

        <script type="text/javascript" src="/jscomp/bundle.js"></script>

    </body>

</html>
